
@font-face {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/fredoka-one-v12-latin-regular.woff2") format("woff2"), 
       url("../fonts/fredoka-one-v12-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/hind-madurai-v10-latin-600.woff2") format("woff2"), 
       url("../fonts/hind-madurai-v10-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/hind-madurai-v10-latin-700.woff") format("woff2"), 
       url("../fonts/hind-madurai-v10-latin-700.woff") format("woff"); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"), 
       url("../fonts/roboto-v29-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v29-latin-500.woff2") format("woff2"),
       url("../fonts/roboto-v29-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v29-latin-700.woff2") format("woff2"), 
       url("../fonts/roboto-v29-latin-700.woff") format("woff"); 
}


@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/hind-madurai-v10-latin-regular.woff2") format("woff2"), 
       url("../fonts/hind-madurai-v10-latin-regular.woff") format("woff"); 
}
body{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-family: "Hind Madurai" sans-serif;
  font-family: "Fredoka One" sans-serif;
}


    /* HEADER */

.site-header{
  background-color: rgba(242, 206, 218, 0.3);
}
.container{
  margin-right: auto;
  margin-left: auto;
  width: 1125px;
}

.site-logo{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-wrapper{
  width: 780px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav{
  width: 443px;
  height: 16px;
}
.nav-unordered{
  width: 443px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-list{
  list-style-type: none;
}
.nav-link{
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: rgba(210, 49, 102,0.6);
}
.nav-item-link{
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: rgba(21, 1, 1,0.6);
}

.header-button{
  padding-right: 50px;
  padding-left: 50px;
  border: none;
  font-family: Hind Madurai;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
  background-color: rgb(210, 49, 102);
  border-radius: 5px;
}
.header-button:hover{
  background-color: rgb(250,250,250);
  color:rgb(210, 49, 102);
  border: 1px solid rgb(210, 49, 102); 
}

  /* Hero */

.hero-section {
  background-color: rgba(242, 206, 218, 0.3);
  height: 753px;
}
.hero-wrapper{
  height: 650px;
  width: 1125px;
  background-repeat: no-repeat;
  background-position: top 0 right -210px ;
  background-image: url(../img/milk-ice-cream.png) ;
}
.about-ice-cream{
  padding-top: 120px;
}
.hero-text{
  width: 180px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0F0101;
}
.hero-heading{
  width: 665px;
  font-family: Fredoka One;
  margin-top: 0;
  font-size: 57.33px;
  line-height: 120.5%;
  color: rgba(14, 1, 1, 0.9);
}
.heading-main-span{
  font-family: Fredoka One;
  font-size: 57.33px;
  line-height: 120.5%;
  color: rgba(210, 49, 102, 0.9);
  
}
.hero-item-text{
  width: 523px;
  font-family: Hind Madurai;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: rgba(15, 1, 1,0.6);
}
.hero-button{
  margin-top: 30px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 50px;
  padding-left: 50px;
  border: none;
  font-family: Hind Madurai;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
  background-color: rgb(210, 49, 102);
  border-radius: 5px;
}
.hero-button:hover{
  background-color: rgb(250,250,250);
  color:rgb(210, 49, 102);
  border: 1px solid rgb(210, 49, 102); 
}


/* site our servise */


.site-servise-container{
  margin-right: auto;
  margin-left: auto;
  width: 1125px;
  height: 400px;
}

.servise-unordered{
  width: 1117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
  margin-left: -40px;
}
.servise-list{
  list-style-type: none;
  width: 250px;
  height: 200px;
  text-align: center;
  padding-top: 35px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 7px;
}
.site-servise-heading{
  width: 161px;
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: rgb(0, 0, 0);
  margin-left: 45px;
}
.site-servise-text{
  width: 200px;
  font-family: Hind Madurai;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 26px;
}
.servise-list:hover{
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}

    /* brown */

.brown{
  background-color: rgba(242, 206, 218, 0.3);
}
.brown-container{
  margin-right: auto;
  margin-left: auto;
  width: 1125px;
  
}
.brown-wrapper{
  width: 442px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex ;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.brown-bar{
  margin-top: 200px;
}
.brown-heading{
  margin: 0;
  padding: 0;
  width: 349px;
  font-family: Hind Madurai;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: rgb(21, 1, 1);
}
.brown-text{
  width: 442px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  color: rgba(21, 1, 1, 0.6);
 
}
.brown-button{
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 50px;
  padding-left: 50px;
  border: none;
  font-family: Hind Madurai;
  font-size: 16px;
  line-height: 19px;
  color: rgb(250, 250, 250);
  background-color: rgb(210, 49, 102);
  border-radius: 5px;
}
.brown-button:hover{
  background-color: rgb(250,250,250);
  color:rgb(210, 49, 102);
  border: 1px solid rgb(210, 49, 102); 
}

/* Product */

.product-container{
margin-right: auto;
margin-left: auto;
width: 1125px;
margin-top: 130px;
}

.site-product-heading{
text-align: center;

font-family: Hind Madurai;
font-weight: 600;
font-size: 44.2px;
line-height: 61px;
color: rgb(21, 1, 1);
}
.site-product-unordered{
width: 880px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
margin-left: 84px;
}
.product-list{
list-style-type:none ;
}
.product-item-link{
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgb(0, 0, 0);
  border-bottom: 3px solid #D64374;
}
.product-link{
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}
.product-link:hover{
  color: rgb(0, 0, 0); 
  border-bottom: 3px solid #D64374;
}



.product-unordered{
width: 1125px;
height: 1660px;
margin-top: 100px;
}
.site-product-list{
  margin-top: 100px;
  width: 1125px;
list-style-type: none;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.product-price-div{
text-align: start;
}
.product-price-heading{
  font-family: Hind Madurai;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  color: rgb(0, 0, 0);
}
.product-price-item-heading{
  font-family: Hind Madurai;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  color: rgb(0, 0, 0);
  margin-left: 233px;
}
.product-price-text{
  width: 454px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  color: hsl(0, 0%, 0%);
}
.product-price-paragraph{
  justify-items: end;
  text-align: end;
  width: 454px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  color: hsl(0, 0%, 0%);
}
.span-div{
  margin-left: 290px;
}
.product-price{
  font-family: Hind Madurai;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  color: rgb(0, 0, 0);

}
.product-money{
  margin-left: 5px;
  font-family: Hind Madurai;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgb(0, 0, 0);
  
}
.product-item-price{
  margin-left: 60px;
  font-family: Hind Madurai;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  color: rgb(0, 0, 0);

}
.product-item-money{
  margin-left: 7px;
  font-family: Hind Madurai;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: rgb(0, 0, 0);
  
}
.product-button{
  margin-top: 10px;
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 50px;
  padding-left: 50px;
  border: none;
  font-family: Hind Madurai;
  font-size: 16px;
  line-height: 19px;
  color: rgb(250, 250, 250);
  background-color: rgb(210, 49, 102);
  border-radius: 5px;
}
.product-button:hover{
  background-color: rgb(250,250,250);
  color:rgb(210, 49, 102);
  border: 1px solid rgb(210, 49, 102); 
}
.product-price-comment{
  margin-top: 100px;
  width: 322px;
}
.about-customer{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.customer-main{
  margin-left: 15px;
}
.customer-name{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
}
.customer-surname{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: rgba(0, 0, 0,0.7);
  margin-right: 150px;
  margin-bottom: 40px;
}
.blockquote{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.702);

}
.customer-img{
  margin-top: 30px;
  width: 197px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}
.guy-img{
  margin-top: 11.5px;
}
.girl-img{
  margin-top: 11.5px;
}



/* To order */


.order-section{
  background-color: rgb(248, 237, 240);
}
.order-container{
  margin-left: auto;
  margin-right: auto;
  width: 1125px;
}
.order-method{
  margin-top: 450px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}
.order-heading{
  width: 621px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 52px;
  color: #000000;
}
.order-paragraph{
  width: 607px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: rgba(15, 1, 1, 0.7);
}
.order-unordered{
  width: 196px;
  margin-top: 30px;
}
.order-list{
  margin-top: 15px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
}
.order-img{
  width: 30px;
  height: 30px;
  background-color: rgb(250, 250, 250);
}
.order-text{
  margin: 0 0 0 10px;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.order-link{
  text-decoration: none;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.order-section-link{
  margin-top: 5px;
}

   /* Question */


.question-container{
  margin-left: auto;
  margin-right: auto;
  width: 1125px;

}
.question-wrapper{
  width: 1125px;
  height:510px;

}
.question-div{
  width: 650px;
  justify-items: center;
  margin-left: 235px;
  margin-top: 100px;
}
.question-heading{
  margin-bottom: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.question-main-heading{
  margin-top: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.input{
  padding-left: 26px;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-right: 100px;
  color: rgba(15, 0, 0, 0.6);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 163, 163);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-right: 10px;
}
.question-select{
  padding-left: 26px;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-right: 100px;
  color: rgba(15, 0, 0, 0.6);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 163, 163);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-left: 10px;
}
.question-input{
  border: none;
  margin-top: 50px;
  padding-left: 26px;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-right: 333px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  color: rgba(15, 0, 0, 0.6);
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 163, 163);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}
.question-button{
  background-color: rgb(214, 67, 116);
  border-radius: 5px;
  padding-right: 40px;
  margin-top: 50px;
  padding-left: 40px;
  padding-top: 29px;
  padding-bottom: 29px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(255, 255, 255);
}
.question-button:hover{
  background-color: rgb(250,250,250);
  color:rgb(210, 49, 102);
  border: 1px solid rgb(210, 49, 102); 
}


/* footer */

.site-item-footer{
  background-color: hsl(0, 0%, 0%);
}
.site-footer{
  margin-right: auto;
  margin-left: auto;
  width: 1125px;
  height: 400px;
}
.site-footer-wrapper{
  padding-top: 80px;
  width: 1094px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex ;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-main{
  width: 210px;
}
a{
  text-decoration: none;
}
.site-footer-text{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
}
.footer-heading{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}
.footer-unordered{
  padding-left: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-link{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.8);
  list-style-type: none;
}
.footer-list{
  list-style-type: none;
  
}
.site-item-unordered{
  margin-top: 55px;
  margin-right: 120px;
}
.site-item-list{
  margin-top: 10px;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 100% 0.7);
}
.site-main-unordered{
  margin-top: 66px;
  margin-right: 200px;
}
.footer-main-list{
  margin-top: 10px;
  list-style-type: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
  
 
}
.footer-newsletter{
  margin-top: 20px;
}
.footer-item-heading{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgb(255, 255, 255);
  padding: 0;
  margin-bottom: 5px;
}

.footer-form{
  padding: 15px 30px;
  border: 2px solid #d23166;
  border-radius: 10px;
  font-weight: 600px;
  font-style: 16px;
  line-height: 22px;
  font-weight: 700;
  background-color: hsl(0, 0%, 0%);
  color: rgba(255, 255, 255, 0.7);
  }
.footer-form input{
  background-color: hsl(0, 0%, 0%);
  border: none;
}  
.footer-button{
  padding: 15px 35px;
  background-color: rgb(210, 49, 102);
  border-radius: 10px;
  font-weight: 600px;
  font-style: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #fafafa;
}
.footer-button:hover{
  background-color: rgb(112, 3, 39);
}
.footer-card-unordered{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
  padding-left: 0;
}
.footer-card-list{
  list-style-type: none;
}

